<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OralCheck</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/recommendation.css') }}">
</head>
<body background="{{ url_for('static', filename='images/background image.jpg') }}">

<header>
    <div class="logo-container">
        <div class="logo">OncoOral AI</div>
        <img src="{{ url_for('static', filename='images/ribbon3.jpg') }}" alt="Logo" width="40" height="45">
    </div>
    <nav>
        <a href="{{url_for('home')}}">Home</a>
        <a href="{{url_for('login')}}">Login</a>
        <a href="{{url_for('contact')}}">Contact</a>
    </nav>
</header>

<h1 class="page-heading">Specialist Recommendations</h1>

    
        <!-- Container for the report boxes -->
    <div class="report-box-container">
        <h2>Specialist Recommendations</h2>
        <div class="report-box">
            <div class="report-header">
                <h3>Dr. Aravinda Santhush Dissanayake</h3>
                <p>Specialty: Oral Oncologist</p>
            </div>
            <div class="report-content">
                <p>Venue: Nawaloka Hospital</p>
                <p>Phone: (+94) 123-4567</p>
                <p>Email: aravinda@gmail.com</p>
            </div>
        </div>

        <div class="report-box">
            <div class="report-header">
                <h3>Dr (Mrs.) I. Amarasinghe</h3>
                <p>Specialty: Oral Surgeon</p>
            </div>
            <div class="report-content">
                <p>Venue: Asiri Hospital</p>
                <p>Phone: (+94) 987-6543</p>
                <p>Email: indrani@gmail.com</p>
            </div>
        </div>

        <div class="report-box">
            <div class="report-header">
                <h3>Dr. Jaliya Jayasekara</h3>
                <p>Specialty: Oral Surgeon</p>
            </div>
            <div class="report-content">
                <p>Venue: Asiri Hospital</p>
                <p>Phone: (+94) 987-6543</p>
                <p>Email: jaliya@gmail.com</p>
            </div>
        </div>

        <div class="report-box">
            <div class="report-header">
                <h3>Dr. Ruwan Jayasekara</h3>
                <p>Specialty: Oral Oncologists</p>
            </div>
            <div class="report-content">
                <p>Venue: Apeksha Hospital</p>
                <p>Phone: (+94) 987-6543</p>
                <p>Email: ruwan@gmail.com</p>
            </div>
        </div>
    </div>
</section>

<footer>
    <div class="footer">
        <p>© 2025 OncoOral AI. All rights reserved.</p>
    </div>
</footer>

</body>
</html>