<!DOCTYPE html>
<html lang="en">
<head>
    <title>OralCheck - Login</title>
    <link rel="stylesheet" href="loginStyle.css">
</head>
<body>

<header>
    <div class="logo-container">
        <div class="logo">OncoOral AI</div>
        <img src="static\images\ribbon3.jpg" alt="Logo" width="40" height="45">
    </div>
    <nav>
        <a href="templates\home.html" target="_blank">Home</a>
       
        <a href="contact.html" target="_blank">Contact</a>
    </nav>
</header>


    <div class="login-box">
        <h2>Login</h2>
        <form action="dashboard.html" method="POST">
            <div class="input-field">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
            </div>

            <div class="input-field">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
            </div>

            <div class="button-container">
                <a href="DataUpload.html"></a>
                <button type="submit">Login</button>
            </div>

            <p>Don't have an account? <a href="singUpPage.html">Register here</a></p>
        </form>
    </div>


</body>

<footer>
    <div class="footer">
        <p>© 2021 OncoOral AI. All rights reserved.</p>
    </div>
</footer>
</html>
