<!DOCTYPE html>
<html lang="en">
<head>
    <title>OralCheck - Login</title>
    <link rel="stylesheet" href="\login.css">
</head>
<body background="\background image.jpg">

<header>
    <div class="logo-container">
        <div class="logo">OncoOral AI</div>
        <img src="\ribbon3.jpg" alt="Logo" width="40" height="45">
    </div>
    <nav>
        <a href="\home.html" target="_blank">Home</a>
        <a href="\login.html" target="_blank">Login</a>
        <a href="contact.html" target="_blank">Contact</a>
    </nav>
</header>


    <div class="login-box">
        <h2>Login</h2>
        <form action="/login" method="POST">
            <div class="input-field">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
            </div>

            <div class="input-field">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
            </div>

            <div class="button-container">
                <a href="DataUpload.html"></a>
                <button type="submit">Login</button>
            </div>

            <p>Don't have an account? <a href="\signup.html">Register here</a></p>
        </form>
    </div>


</body>

<footer>
    <div class="footer">
        <p>© 2025 OncoOral AI. All rights reserved.</p>
    </div>
</footer>
</html>
